{% extends 'base.html' %}

{% block content %}
    <form method="POST"> {% csrf_token %}
        <!-- {{ form.as_p }}
        <input type="submit" value="Save"/>
     -->
     <h1>DO you want to delete the article "{{ obj.title }}?</h1>
     <p><input type="submit" value="Yes"/><a href="../">Cancel</a></p>
    </form>

    <!-- <form action=".", method="POST"> {% csrf_token %}
        <input type="text" name="title" placeholder="Enter Title"/>
        <input type="submit" value="Save"/>
    </form> -->




{% endblock %}